db.sqlite3
modeloapp/__pycache__/*
/apps/Pessoa/__pycache__/*
/apps/Pessoa/migrations/*
/apps/profissionalSaude/__pycache__/*
/apps/profissionalSaude/migrations/*
/apps/vacinas/__pycache__/*
/apps/vacinas/migrations/*
/apps/registroVacina/__pycache__/*
/apps/registroVacina/migrations/*
/apps/agendamento/__pycache__/*
/apps/agendamento/migrations/*
/apps/localVacinacao/__pycache__/*
/apps/localVacinacao/migrations/*
/apps/estoqueVacinas/__pycache__/*
/apps/estoqueVacinas/migrations/*