db.sqlite3
modeloapp/__pycache__/*
/apps/pessoa/__pycache__/*
/apps/pessoa/migrations/*
/apps/profissionalSaude/__pycache__/*
/apps/profissionalSaude/migrations/*
/apps/vacinas/__pycache__/*
/apps/vacinas/migrations/*
/apps/registroVacina/__pycache__/*
/apps/registroVacina/migrations/*